<div class="sidebar">
    <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">
      <span class="menu-text">Home</span>
    </a>
    <a href="/recipes" class="<%= activePage === 'recipes' ? 'active' : '' %>">
      <span class="menu-text">Recipes</span>
    </a>
  </div>
  