<div class="sidebar">
    <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">
      <span class="menu-text">Home</span>
    </a>
    <a href="/recipes" class="<%= activePage === 'recipes' ? 'active' : '' %>">
      <span class="menu-text">Recipes</span>
    </a>
    <a href="/about" class="<%= activePage === 'about' ? 'active' : '' %>">
      <span class="menu-text">About</span>
    </a>
    <a href="/contact" class="<%= activePage === 'contact' ? 'active' : '' %>">
      <span class="menu-text">Contact</span>
    </a>
  </div>
  